body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

/* Estilo para os rótulos da tabela */
.rotulos {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

/* Estilo para o formulário de cadastro */
#cadastro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para a tabela de itens */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #333;
    color: #fff;
}
#botao{
    background-color: white;
    color: black;
}
#botao:hover{
    background-color: greenyellow;
    font-size: 15px;
}
/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
#Patrimonio{
    position: relative;
    top: 10px;
}
#total-patrimonio{
    background: white;
    color: black;
    width: 191px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* input[type="text"][name="total"] {
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
} */